#python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
#html
.html
Data/
#R


#
old/
/TODO
kg/widgets.py
kg/intervals.py
Measurements_example/MBBMZugExample/wav/m_0104_mic_6.wav
*.wav
AppCS/icons/icon2.ico
*.ico
caseToAnalyze.json
AppCS/firstcases.list
info.html
*.mat
*.json
*.json
