.background {
  color: #ffffff;
}
.num {
  color: #e66101;
}
.str {
  color: #e84e0f;
}
.com {
  color: #a5a5a5;
  font-style: italic;
}
.opt {
  color: #7de023;
  font-weight: bold;
}
.std {
  color: #272822;
}
.kwa {
  color: #5a8bba;
  font-weight: bold;
}
.kwb {
  color: #7de023;
  font-weight: bold;
}
.kwc {
  color: #d14316;
  font-weight: bold;
}
.kwd {
  color: #e84e0f;
  font-weight: bold;
}